.root {
  padding-top: 80px;
  padding-bottom: 80px;
  & > div {
    max-width: 1008px;
    & > h2 {
      color: #191c1f;
      text-align: center;
      margin-bottom: 41px;
      margin-top: 0;
    }
  }
}
.spoilers {
  list-style-type: none;
  padding: 0;
  margin: 0;
  & > li {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid var(--light-gray);
    cursor: pointer;
    &:hover {
      & > h3 {
        color: var(--primary);
        & > button {
          & > svg {
            & > path {
              fill: var(--primary);
            }
            & > circle {
              stroke: var(--primary);
            }
          }
        }
      }
    }
    & > h3 {
      margin: 0;
      color: var(--black);
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      transition: 0.3s;
      & > button {
        background-color: transparent;
        border: none;
        transition: 0.3s;
        & > svg {
          & > path {
            transition: 0.3s;
          }
          & > circle {
            transition: 0.3s;
          }
        }
      }
    }
    & > div {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      & > p {
        color: var(--dark-gray);
        max-width: 936px;
        margin: 0;
        padding-top: 24px;
      }
    }
  }
}
.activeSpoiler {
  & > div {
    max-height: 1000px !important;
  }
  & > h3 {
    & > button {
      transform: rotate(45deg);
    }
  }
}
