.root {
    background-color: var(--extralight-gray);
    padding-top: 57px;
    padding-bottom: 45px;
    @media (max-width: 768px) {
        padding-top: 33px;
    }
    @media (max-width: 375px) {
        padding-top: 27px;
    }
    & > div {
        & > h2 {
            color: var(--black);
            text-align: center;
            margin-bottom: 32px;
            @media (max-width: 375px) {
                margin-bottom: 26px;
            }
        }
    }
}
.slider {
    padding: 20px;
    padding-bottom: 60px !important;
    margin: 0 -20px;
    @media (max-width: 375px) {
        padding: 0 16px;
        margin: 0;
    }
}
.sliderWrapper {
    position: relative;
    padding: 0 60px;
    @media (max-width: 1024px) {
        padding: 0;
    }
}
.sliderButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    @media (max-width: 1024px) {
        display: none;
    }
}
.sliderButtonPrev {
    left: 0;
}
.sliderButtonNext {
    right: 0;
    transform: rotate(180deg);
}
.slide {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 8px;
    padding: 22px;
    box-sizing: border-box;
    height: 100%;
    & > div {
        display: grid;
        grid-template-columns: 44px 1fr;
        gap: 16px;
        margin-bottom: 20px;
    }
    & > p {
        color: var(--black);
        margin: 0;
    }
}
.slideHead {
    display: flex;
    flex-direction: column;
    gap: 4px;
    & > span {
        font-weight: 600;
        color: var(--black);
    }
    & > p {
        color: var(--dark-gray);
        margin: 0;
    }
}
