.container {
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 21px;
    @media (max-width: 375px) {
        padding: 0 16px;
    }
}
.text18 {
    font-size: 18px;
    line-height: 32px;
}
.text16 {
    font-size: 16px;
    line-height: 28px;
}
.text14 {
    font-size: 14px;
    line-height: 24px;
}
.text12 {
    font-size: 12px;
    line-height: 16px;
}
.title1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
}
.title2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    @media (max-width: 375px) {
        font-size: 24px;
        line-height: 32px;
    }
}
.title3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.title5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.title6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
