@import-normalize;

:root {
    --black: #191c1f;
    --dark-gray: #5e646a;
    --gray: #83898f;
    --mid-grey: #c2c8cd;
    --light-gray: #eceff2;
    --extralight-gray: #f6f8fa;
    --white: #ffffff;
    --dangerous: #f13636;
    --green-success: #25cd82;
    --primary-disabled: #abcae6;
    --primary: #2a6cea;
    --primary-hover: #397dff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Graphik LCG";
    margin: 0;
    min-width: 320px;
}
.swiper-slide {
    height: auto !important;
}
.swiper-wrapper {
    align-items: stretch;
}
